<footer class="footer">
    <div class="footer_links">
        <ul>
            <li><a href="">個人情報保護方針　/</a></li>
            <li><a href="">　お問い合わせ　/</a></li>
            <li><a href="">　サイトマップ</a></li>
        </ul>
    </div>
    
    <div class="footer_copyright">
        Copyright© Meiwa group. All rights reserved.
    </div>
    
</footer>