<footer class="footer">

    <ul class="footer_links">
        <li>
            <a href="https://www.meiwakanzai.com/privacy">個人情報保護方針</a>
        </li>
        <li class="contact">
            <a href="https://www.meiwakanzai.com/contact">お問い合わせ</a>
        </li>
        <li class="sitemap">
            <a href="https://www.meiwakanzai.com/sitemap">サイトマップ</a>
        </li>
    </ul>

    <div class="footer_copyright">
        <nobr>
            Copyright© Meiwa group. All rights reserved.
        </nobr>
    </div>

</footer>
