<footer class="footer">
    <hr>
    
    <div class="footer_links">
        <nobr>
          <ul>
               <li>
                    <a href="">個人情報保護方針</a>　/
               </li>
                <li>
                    <a href="">　お問い合わせ</a>　/
                </li>
                <li>
                    <a href="">　サイトマップ</a>
                </li>
          </ul>
        </nobr>
    </div>

    <div class="footer_copyright">
        <nobr>
            Copyright© Meiwa group. All rights reserved.
        </nobr>
    </div>

</footer>