<header class="header">

    <img src="./assets/img/meiwakanzai_logo.jpg" alt="">

    <ul class="header_menu">
        <li class="home">
            <a href="https://www.meiwakanzai.com/">HOME</a>
        </li>
        <li class="sell">
            <a href="https://www.meiwakanzai.com/sell">売却をお考えの方へ</a>
        </li>
        <li class="buy">
            <a href="https://www.meiwakanzai.com/buy">購入をお考えの方へ</a>
        </li>
        <li class="FAQ">
            <a href="https://www.meiwakanzai.com/faq">よくある質問</a>
        </li>
        <li class="company">
            <a href="https://www.meiwakanzai.com/about">会社概要</a>
        </li>
        <li class="contact">
            <a href="https://www.meiwakanzai.com/contact">お問い合わせ</a>
        </li>
    </ul>

</header>
