<header class="header">
    
    <div class="header_logo_menu">
        <img src="./assets/img/meiwakanzai_logo.jpg" alt="">

        <ul class="header_menu">
            <li><p class="home">HOME</p></li>
            <li><p class="sell">売却をお考えの方へ</p></li>
            <li><p class="buy">購入をお考えの方へ</p></li>
            <li><p class="FAQ">よくある質問</p></li>
            <li><p class="company">会社概要</p></li>
            <li><p class="contact">お問い合わせ</p></li>
        </ul>
    </div>
    
</header>