<header class="header">
    
    <div class="header_logo_menu">
    <div class="header_logo">
        <img src="./assets/img/meiwakanzai_logo.jpg" alt="">
    </div>

    <div class="header_menu">
        <ul>
            <li>HOME</li>
            <li>売却をお考えの方へ</li>
            <li>購入をお考えの方へ</li>
            <li>よくある質問</li>
            <li>会社概要</li>
            <li>お問い合わせ</li>
        </ul>
    </div>
    </div>
    
</header>