@charset 'utf-8';
body{
    height: 2580px;
}

.company{
    &_header{
        width: 1440px;
        height: 200px;
        left: 0px;
        top: 150px;
            
        h1{
            position: absolute;
            width: 192px;
            height: 56px;
            left: 220px;
            top: 222px;

            font-weight: bold;
            font-size: 48px;
            line-height: 56px;

            color: #000000;
    }
    
        h2{
            position: absolute;
            width: 144px;
            height: 28px;
            left: 220px;
            top: 273px;
            margin: 0;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;

            color: #333333;
    }
}
    
    .about_sales_department{
        position: absolute;
        width: 1000px;
        height: 16px;
        left: 221px;
        top: 450px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #212121;
    }
    
    .company_profile{
        &_contents{
            position: absolute;
            left: 220px;
            top: 719px;
            width: 1000px;
            height: 1002px;
            
            .contents_gray{
                background: #F1F1F1;
            }
            
            .contents_white{
                background: #FFFFFF;
            }
        }
    }
    
    &_access{
        img{
        position: absolute;
        width: 350px;
        height: 373px;
        left: 220px;
        top: 1861px;
        }
        
        .company_info{
            position: absolute;
            width: 350px;
            height: 100px;
            left: 220px;
            top: 2261px;

            background: #F1F1F1;
        }
        
    }
}