@charset 'utf-8';

.company {
    &_header {
        width: 1440px;
        left: 0px;
        top: 150px;

        h1 {
            position: absolute;
            width: 192px;
            height: 56px;
            left: 220px;
            top: 222px;

            font-weight: bold;
            font-size: 48px;
            line-height: 56px;

            color: #000000;
        }

        h2 {
            position: absolute;
            width: 144px;
            height: 28px;
            left: 220px;
            top: 273px;
            margin: 0;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;

            color: #333333;
        }
    }


    .about_sales_department {
        position: absolute;
        width: 1000px;
        height: 16px;
        left: 221px;
        top: 450px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;

        color: #212121;

    }

    .company_profile {
        //        position: absolute;
        left: 220px;
        top: 671px;
        width: 1000px;
        height: 1153px;

        .profile_title {
            position: absolute;
            width: 1000px;
            height: 28px;
            left: 220px;
            top: 671px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;

            color: #000000;
        }

        .company_profile_contents {
            position: absolute;
            left: 220px;
            top: 719px;
            width: 1000px;
            height: 1002px;

            border-bottom: solid 3px #F1F1F1;

            .company_profile_title {
                width: 100px;
                height: 20px;
                left: 260px;
                top: 739px;

                font-family: Noto Sans JP;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;

                color: #000000;

                display: flex;
                margin: auto;

                span {
                    display: block; //正常に動いていない
                }

            }

            .company_profile_item {
                font-family: Noto Sans JP;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;

                color: #000000;

                padding-left: 110px;

                span {
                    font-weight: bold;
                    font-size: 18px;
                }

                width: 750px;
                left: 470px;

                .item_name {
                    height: 20px;
                    top: 739px;
                }

                .item_address {
                    height: 40px;
                    top: 798px;
                }

                .item_leader {
                    height: 20px;
                    top: 878px;
                }

                .item_list_work {
                    height: 119px;
                    top: 938px;
                }

                .item_money {
                    height: 20px;
                    top: 1097px;
                }

                .item_tel {
                    height: 58px;
                    top: 1155px;
                    line-height: 30px;
                }

                .item_fax {
                    height: 62px;
                    top: 1253px;
                    line-height: 30px;
                }

                .item_license {
                    height: 20px;
                    top: 1357px;
                }

                .item_kind {
                    height: 20px;
                    top: 1417px;
                }

                .item_list_companies {
                    height: 219px;
                    top: 1476px;
                }
            }

            .contents_gray {
                display: flex;
                padding: 20px 0 20px 40px;
                background: #F1F1F1;
            }

            .contents_white {
                display: flex;
                padding: 20px 0 20px 40px;
                background: #FFFFFF;
            }

        }
    }

    &_access {
        .access_title {
            position: absolute;
            width: 1000px;
            height: 28px;
            left: 225px;
            top: 1813px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;

            color: #000000;
        }

        img {
            position: absolute;
            width: 350px;
            height: 373px;
            left: 220px;
            top: 1861px;
        }

        .company_info {
            position: absolute;
            width: 350px;
            height: 100px;
            left: 220px;
            top: 2261px;

            background: #F1F1F1;

            ul {
                font-family: Noto Sans JP;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;

                padding-left: 52px;

                .info_time {
                    padding-top: 20px;
                }
            }
        }

        .company_map {
            position: absolute;
            width: 620px;
            height: 500px;
            left: 600px;
            top: 1861px;
        }

    }
}

.footer {
    position: absolute;
}
