@charset 'utf-8';

body {
    position: relative;
    width: 1440px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    background: #FFFFFF;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    //    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;

    img {
        position: absolute;
        width: 151px;
        height: 62px;
        left: 220px;
        top: 44px;
    }

    &_menu {
        //                position: absolute;
        width: 661px;
        height: 26px;
        left: 560px;
        top: 62px;

        display: flex;
        font-size: 14px;
        line-height: 16px;

        a,
        a:hover,
        a:visited {
            color: #000000;
        }

        li.home {
            position: absolute;
            width: 40px;
            height: 16px;
            left: 560px;
            top: 62px;
            margin-top: 0;
            margin-bottom: 0;

            a,
            a:hover,
            a:visited {
                color: #618BBB;

                padding-bottom: 10px;
                border-bottom: 1px solid #618BBB;
            }
        }

        li.sell {
            position: absolute;
            width: 126px;
            height: 16px;
            left: 629px;
            top: 62px;
            margin-top: 0;
            margin-bottom: 0;
        }

        li.buy {
            position: absolute;
            width: 126px;
            height: 16px;
            left: 784px;
            top: 62px;
            margin-top: 0;
            margin-bottom: 0;
        }

        li.FAQ {
            position: absolute;
            width: 84px;
            height: 16px;
            left: 939px;
            top: 62px;
            margin-top: 0;
            margin-bottom: 0;
        }

        li.company {
            position: absolute;
            width: 56px;
            height: 16px;
            left: 1052px;
            top: 62px;
            margin-top: 0;
            margin-bottom: 0;
        }

        li.contact {
            position: absolute;
            width: 84px;
            height: 16px;
            left: 1137px;
            top: 62px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.footer {
    position: absolute;
    text-align: center;

    font-size: 14px;
    line-height: 16px;

    a,
    a:hover,
    a:visited {
        color: #000000;
    }

    &_links {
        width: 1440px;
        padding-top: 16px;
        padding-bottom: 17px;

        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;

        li {
            display: inline;
        }

        .contact::before,
        .sitemap::before {
            content: "/";
            padding: 0 20px;
        }
    }

    &_copyright {
        text-align: center;

        padding-top: 17px;
        padding-bottom: 19px;
    }
}
