@charset 'utf-8';

.FAQ{
    &_header{
        width: 1440px;
        height: 200px;
        left: 0px;
        top: 150px;
            
        h1{
            position: absolute;
            width: 288px;
            height: 56px;
            left: 220px;
            top: 222px;
            
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            
            color: #333333;
    }
    
    .Q_list{
        position: absolute;
        display: flex;
        left: 220px;
        top: 450px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #3F628A;
        
        li{
            width: 198px;
            height: 21px;
            text-align: center;
            
            span{
                width: 15px;
                height: 31px;
                left: 335px;
                top: 492px;
                
                transform: rotate(90deg); //きいてないな
            }
        }
        
        li + li{
            margin-left: 203px;
        }
        
    }
}
    
    .QA_item{
        .question{
            position: absolute;
            width: 1000px;
            height: 60px;
            left: 220px;
            top: 665px;
            
            background: #618BBB;
            
            font-family: Noto Sans JP;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;

            color: #FFFFFF;
        }
        
        .answer{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            /* or 171% */
            
            color: #000000;
        }
    }
}