@charset 'utf-8';

body{
    position: relative;
    width: 1440px;
    height: 1561px;

    background: #FFFFFF;
}

.header{
    display: flex;
//    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    
    .header_logo{
//        position: absolute;
        width: 151px;
        height: 62px;
        left: 220px;
        top: 44px;
    }
    
    .header_menu li{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #000000;

    }
}

.kaitai{
    &_banner{
//        position: absolute;
        text-align: center;
        img + img{
            margin-left: 40px;
        }
    }
    
    .kaitai_header{
//        position: relative;
        width: 1440px;
        height: 200px;
        left: 0px;
        top: 150px;
    }
    
    .kaitai_header h1{
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .kaitai_header h2{
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .buy_description{
//        position: absolute;
        width: 1000px;
        height: 16px;
        left: 221px;
        top: 450px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #212121;
    }
}

.footer{
    position: absolute;
    width: 278px;
    height: 16px;
    left: 581px;
    top: 1526px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}