@charset 'utf-8';

body{
    position: relative;
//    top: 0%;
//    left: 0%;
    width: 1440px;
    height: 1561px;

    background: #FFFFFF;
}

.header{
    display: flex;
//    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    
    .header_logo_menu{
        display: flex;
        position: absolute;
        width: 1001px;
        height: 62px;
        left: 220px;
        top: 44px;
    }
    
    .header_logo{
        position: absolute;
        width: 151px;
        height: 62px;
        left: 220px;
        top: 44px;
    }
    
    .header_menu ul{
//        position: absolute;
        
        
        width: 661px;
        height: 26px;
        left: 560px;
        top: 62px;
        
        display: flex;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #000000;

    }
    
    p.home{
        position: absolute;
        width: 40px;
        height: 16px;
        left: 560px;
        top: 62px;

        color: #618BBB;
        
//        position: absolute;
//        width: 39px;
//        height: 0px;
//        left: 561px;
//        top: 88px;

        border-bottom: 1px solid #618BBB;
    }
    
    p.sell{
        position: absolute;
        width: 126px;
        height: 16px;
        left: 629px;
        top: 62px;
    }
    
    p.buy{
        position: absolute;
        width: 126px;
        height: 16px;
        left: 784px;
        top: 62px;
    }
    
    p.FAQ{
        position: absolute;
        width: 84px;
        height: 16px;
        left: 939px;
        top: 62px;
    }
    
    p.company{
        position: absolute;
        width: 56px;
        height: 16px;
        left: 1052px;
        top: 62px;
    }
    
    p.contact{
        position: absolute;
        width: 84px;
        height: 16px;
        left: 1137px;
        top: 62px;
    }
    
}

.kaitai{
    .kaitai_banner{
//        position: absolute;
        text-align: center;
        img + img{
            margin-left: 40px;
//            position: absolute;
        }
        .yahoo{
            position: absolute;
            width: 300px;
            height: 100px;
            left: 224px;
            top: 535px;

            background: #FCFCFC;
//            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        
        .kenbiya{
            position: absolute;
            width: 300px;
            height: 100px;
            left: 561px;
            top: 535px;

            background: #FCFCFC;
//            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        
        .rakumachi{
            position: absolute;
            width: 300px;
            height: 100px;
            left: 901px;
            top: 535px;

            background: #FCFCFC;
//            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    
    .kaitai_header{
//        position: relative;
//        position: absolute;
        width: 1440px;
        height: 200px;
        left: 0px;
        top: 150px;
        
        .kaitai_header_text{
        position: absolute;
        width: 192px;
        height: 101px;
        left: 220px;
        top: 200px;
        h1{
//        position: absolute;
        top: 0;
        left: 0;
        
        width: 192px;
        height: 56px;
        left: 220px;
        top: 200px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;

        color: #333333;
    }
    
        h2{
//        position: absolute;
        width: 144px;
        height: 28px;
        left: 220px;
        top: 273px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #333333;
    }
        }
}
    
    
    .buy_description{
        position: absolute;
        width: 1000px;
        height: 16px;
        left: 221px;
        top: 450px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #212121;
    }
}

.footer{
    position: absolute;
    width: 278px;
    height: 16px;
    left: 581px;
    top: 1526px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}