@charset 'utf-8';

body{
    height: 1480px;
}

.sitemap{
    &_header{
        position: absolute;
        width: 1521px;
        height: 798px;
            
        h1{
            position: absolute;
            width: 288px;
            height: 56px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;

            color: #000000;
    }
    
}
    
    .buy_description{
        position: absolute;
        width: 1000px;
        height: 16px;
        left: 221px;
        top: 450px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #212121;
    }
    &_banner{
//        position: absolute;
        text-align: center;
        img + img{
            margin-left: 37px;
            width: 300px;
            height: 100px;
//            position: absolute;
        }
        .sell_buy{
            position: absolute;
            left: 224px;
            top: 535px;

            background: #FCFCFC;
//            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        
    }
}