@charset 'utf-8';

body{
    height: 1480px;
}

.sitemap_header{
    img{
        position: absolute;
        width: 1440px;
        height: 200px;
        
        background: #C4C4C4;
    }
            
    h1{
        position: absolute;
        width: 288px;
        height: 56px;

        font-size: 48px;
        line-height: 56px;

        color: #000000;
    }
    
}
    
    .sitemap{
        &_title{
            position: absolute;
            display: flex;
            width: 260px;
            height: 28px;
            left: 241px;
            top: 450px;

            font-weight: bold;
            font-size: 24px;
            line-height: 28px;

            color: #000000;
        }
        
        &_contents{
            position: absolute;
            width: 236px;
            height: 20px;
            left: 241px;
            top: 521px;

            font-family: Noto Sans JP;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;

            color: #000000;
            
            a,a:hover,a:visited{
                color: #000000;
            }
        }
    }