@charset 'utf-8';

body{
    position: relative;
    width: 1440px;
    height: 2550px;

    background: #FFFFFF;
}


h1{
    position: absolute;
    width: 480px;
    height: 56px;
    left: 220px;
    top: 222px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    color: #333333;
}

.trouble_overview{
    position: absolute;
    width: 1000px;
    height: 60px;
    left: 220px;
    top: 730px;

    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */


    color: #000000;
}

.example{
    position: absolute;
    left: 220px;
    top: 909px;
}

.example_contents{
    
    .case{
//        position: absolute;
        width: 1000px;
        height: 60px;
        left: 220px;
        top: 909px;
        
        background: #618BBB;
        
        font-family: Noto Sans JP;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;

        color: #FFFFFF;
    }
    
    .text{
//        position: absolute;
        width: 1000px;
        height: 120px;
        left: 220px;
        top: 988px;

        font-family: Noto Sans JP;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        /* or 214% */

        text-decoration-line: underline;

        color: #000000;
    }
}

.contact{
    
    h2{
        position: absolute;
        width: 300px;
        height: 28px;
        left: 265px;
        top: 2074px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #3F628A;
    }
    
    img{
        position: absolute;
        width: 1000px;
        height: 300px;
        left: 220px;
        top: 2044px;

        background: rgba(255, 255, 255, 0.5);
    }
}