// body の height は指定しない
// ヘッダー画像以外では position absolute を使わない
@charset 'utf-8';

.trouble {
    &_header {
        position: relative;
        width: 100vw;
        height: 200px;
        margin: 0 calc(50% - 50vw);
    }

    h1 {
        position: absolute;
        top: 50%;
        left: calc(calc(100vw - 1000px) / 2);

        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        color: #333333;

        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);

        margin: 0;
    }
}

.trouble_overview {
    img.square {
        z-index: 2;
    }

    img.mark {
        z-index: 1;
    }

    left: calc(calc(100vw - 1000px) / 2);

    font-weight: normal;
    font-size: 14px;
    line-height: 30px;

    /* or 214% */
    p {
        font-weight: bold;
    }


    color: #000000;
}

.example {
    left: 220px;
    top: 909px;
}

.example_contents {

    .case {
        width: 1000px;
        height: 60px;
        display: flex;

        background: #618BBB;

        font-family: Noto Sans JP;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;

        color: #FFFFFF;

        img {
            width: 25px;
            height: 25px;
            transform: translate(0, 50%);
        }
    }

    .text {
        width: 1000px;
        left: 220px;
        top: 988px;

        font-family: Noto Sans JP;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        /* or 214% */

        text-decoration-line: underline;

        color: #000000;
    }
}

.contact {

    h2 {
        width: 300px;
        height: 28px;
        left: 265px;
        top: 2074px;

        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #3F628A;
    }

    img {
        width: 1000px;
        left: 220px;
        top: 2044px;

        background: rgba(255, 255, 255, 0.5);
    }
}
