@charset 'utf-8';

body {
    height: 2890px;
}

.uritai {
    &_header {
        //        position: absolute;
        width: 1440px;
        height: 200px;
        left: 0px;
        top: 150px;

        h1 {
            position: absolute;
            width: 192px;
            height: 56px;
            left: 220px;
            top: 200px;
            margin: 0;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;

            color: #333333;
        }

        h2 {
            position: absolute;
            width: 144px;
            height: 28px;
            left: 220px;
            top: 273px;
            margin: 0;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;

            color: #333333;
        }
    }

    .sell_procedure {
        height: 1706px;

        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        padding: 0;
        margin: 0;

        color: #000000;

        summary {
            outline: none;
        }

        //        "〉"→参考：https://pixelog.net/post/rn7zja/
        summary::after {
            position: absolute;
            left: 83.61%;
            right: 15.28%;
            top: 17.89%;
            bottom: 81.07%;

            width: 16px;
            height: 30px;

            display: inline-block;
            content: "〉";
            margin: 0 .3em 0 0;
            transform: rotate(90deg);
            transition: .2s transform ease;
        }

        details[open] summary::after {
            transform: rotate(270deg);
        }

        //        "〉"→参考：https://pixelog.net/post/rn7zja/

        //        animation→参考：https://rui-log.com/details-accordion/
        details[open] .procedure_text_hosoku {
            animation: SlideIn 0.25s ease;
        }

        @keyframes SlideIn {
            0% {
                opacity: 0;
                transform: translateY(-10px);
            }

            100% {
                opacity: 1;
                transform: none;
            }
        }

        //        animation→参考：https://rui-log.com/details-accordion/

        .procedure_title {
            padding-bottom: 13px;
        }

        ul li {
            padding: 60px 0;
        }

        .procedure_text {
            width: 870px;
            height: 24px;
            left: 377px;
            top: 538px;

            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */

            color: #000000;

            border-bottom: 4px solid #E6E6E6;
        }

        .procedure_text_hosoku {
            width: 843px;
            height: 73px;
            left: 377px;
            top: 787px;

            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            /* or 171% */

            color: #000000;
        }

        .soudan {
            position: absolute;
            left: 377px;
            top: 497px;

            .procedure_title {
                width: 189px;
            }

            .contact_button {
                font-size: 14px;

                color: #ffffff;
                background-color: #3f628a;
            }
        }

        .search_satei {
            position: absolute;
            left: 377px;
            top: 655px;

            .procedure_title {
                width: 237px;
            }
        }

        .baikai_contract {
            position: absolute;
            left: 377px;
            top: 963px;

            .procedure_title {
                width: 141px;
            }

            .baikai_kinds {
                display: flex;
            }
        }

        .boshu_apply {
            position: absolute;
            left: 377px;
            top: 1180px;

            .procedure_title {
                width: 321px;
            }
        }

        .contract {
            position: absolute;
            width: 189px;
            left: 377px;
            top: 1531px;
        }

        .get_house {
            position: absolute;
            width: 93px;
            left: 378px;
            top: 1845px;
        }

    }

}

.footer {
    top: 2793px;
}
