@charset 'utf-8';

body{
    height: 2890px;
}

.uritai{
    &_header{
//        position: absolute;
        width: 1440px;
        height: 200px;
        left: 0px;
        top: 150px;
            
        h1{
            position: absolute;
            width: 192px;
            height: 56px;
            left: 220px;
            top: 200px;
            margin: 0;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;

            color: #333333;
    }
    
        h2{
            position: absolute;
            width: 144px;
            height: 28px;
            left: 220px;
            top: 273px;
            margin: 0;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;

            color: #333333;
    }
}
    
    .sell_procedure{
        
        li{
            padding: 60px 0;
        }
        
        .procedure_title{
            height: 28px;
            
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;

            color: #000000;
        }
        
        .procedure_text{
            width: 870px;
            height: 24px;
            left: 377px;
            top: 538px;

            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */

            color: #000000;
        }
        
        .soudan{
            position: absolute;
            width: 189px;
            left: 377px;
            top: 497px;
        }
        
        .search_satei{
            position: absolute;
            width: 237px;
            left: 377px;
            top: 655px;
        }
        
        .baikai_contract{
            position: absolute;
            width: 141px;
            left: 377px;
            top: 963px;

        }
        
        .boshu_apply{
            position: absolute;
            width: 321px;
            left: 377px;
            top: 1180px;
        }
        
        .contract{
            position: absolute;
            width: 189px;
            left: 377px;
            top: 1531px;
        }
        
        .get_house{
            position: absolute;
            width: 93px;
            left: 378px;
            top: 1845px;
        }
        
    }
    
}

.footer{
    top: 2793px;
}