<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
    <!-- WPでは自動でトップのCSSは読み込まれるっぽい -->
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <title>よくある質問 | 株式会社明和管財</title>
    <link rel="icon" type="image/png" href="./src/img/meiwakanzai_cropped-logo-32x32.png">
</head>

<body>
        <% include partials/_header %>

        <div class="FAQ">
                <div class="FAQ_header">
                        <img src="./src/img/FAQ_header.jpg" alt="">
                        
                        <h1>よくある質問</h1>
                <ul class="Q_list">
                    <li>
                        売却前によくあるご質問
                        <span>〉</span>
                    </li>
                    <li>
                        売却時によくあるご質問
                        <span>〉</span>
                    </li>
                    <li>
                        売却後によくあるご質問
                        <span>〉</span>
                    </li>
                </ul>
            </div>
            
            <div class="QA_item">
                    <ul class="before">
                        <li class="question">
                            賃借人がいる状態でも売却出来るの?
                        </li>
                        <li class="answer">
                            現状ローン残債が残っていても、売却時に売買代金の中から一括返済を行うことで売却は可能です。
                        </li>
                        <li class="question">
                            ローンが残っていても売れるの?
                        </li>
                        <li class="answer">
                            現状ローン残債が残っていても、売却時に売買代金の中から一括返済を行うことで売却は可能です。
                        </li>
                        <li class="question">
                            収益還元法とは?
                        </li>
                        <li class="answer">
                            不動産の収益性に着目して、その不動産から将来得られるべき価値を現在価値に割引して評価する方法です。
                        </li>
                        <li class="question">
                            他の不動産業者の査定との違いは?
                        </li>
                        <li class="answer">
                            基本的な査定の方法に大きな差異はありませんが、弊社では自社で媒介を取るため過度に高く見積もったり、売りやすくするため安く査定を出すなどの不動産業者都合の不正な査定はいたしません。
                        </li>
                        <li class="question">
                            売却を途中で断念しても、仲介手数料は払わなければいけないの?
                        </li>
                        <li class="answer">
                            仲介手数料はあくまで成約報酬ですので、売却が成立しない場合にお支払いいただくことはございません。
                        </li>
                        <li class="question">
                            専任媒介でないといけないの?
                        </li>
                        <li class="answer">
                            弊社では媒介契約の種類で行う仕事は変わりませんが、一般媒介にて複数社で募集に出す場合、他社の募集状況をご連絡いただいたり募集条件を揃えていただくなど、お客様に行っていただく部分が多くなるため、弊社では専任媒介をおすすめさせていただいております。
                        </li>
                        <li class="question">
                            査定金額で募集に出さないといけないの?
                        </li>
                        <li class="answer">
                            あくまで「査定金額」は募集価格を決めるにあたって不動産会社がアドバイスする価格相場の参考価格ですので、必ずしも査定価格で募集に出す必要はありません。募集金額はお客様のご希望金額でお決めいただけます。しかし、査定金額(相場)を大きく上回る金額で募集に出すと売却までにお時間が掛かる 可能性がございます。
                        </li>
                    </ul>
                    
                    <ul class="selling">
                        <li class="question">
                            成約した場合には、どんな費用がかかるの?
                        </li>
                        <li class="answer">
                            売却時の諸費用は主に、仲介手数料・登記費用・印紙税がございます。売却募集開始時には、ローン残債と売却時諸費用を念頭に置いた募集価格の設定をおすすめいたします。
                            印紙税 (売買契約書に貼付します。)
                            仲介手数料 (成約価格の 3%+6 万円 別途消費税)
                            登記費用 (抵当権が設定されている場合などに必要)
                        </li>
                        <li class="question">
                            契約は必ず立ち会わないといけないの?
                        </li>
                        <li class="answer">
                            お客様のご都合次第で契約日にお越しいただけなくても契約を行える方法もございますのでお気軽にお申し付けくださいませ。
                        </li>
                        <li class="question">
                            売買代金はいつ支払われるの?
                        </li>
                        <li class="answer">
                            買主と売買契約締結時に手付金として売買代金の5~10%前後を受領し、残りを引渡し時に残代金として受領するケースが一般的です。
                        </li>
                    </ul>
                    
                    <ul class="after">
                        <li class="question">
                            売却した場合、確定申告は必要?
                        </li>
                        <li class="answer">
                            売却した翌年に確定申告を行っていただく必要があります。この場合、給与所得からの納税とは別に計算する一時所得分の税金ですので、年末調整で納税されている会社員の方も対象となります。申告手続きは、税理士にご依頼いただくか、ご自身で行ってい ただくことになります。
                        </li>
                        <li class="question">
                            既に支払っている(受け取っている)金銭はどうするの?
                        </li>
                        <li class="answer">
                            賃料・敷金(売主から買主へ)や、固定資産税・都市計画税、管理費・修繕積立金(買主から売主へ)は、引渡日を基準に日割り計算したものを引渡時に清算いたします。
                        </li>
                    </ul>
                </div>
                
        </div>

        <% include partials/_footer %>
</body>

</html>
